
@{
    ViewBag.Title = "RobotArm";
}
<link href="~/Content/robotArmStyle.css" rel="stylesheet" />

<h2>RobotArm</h2>
<div class="optionsBar">
    <div>
    <div class="inputBarDiv">
        <div class="inputBarDiv1">
            @Html.Label("L1", "L1")
            @Html.TextBox("txtL1", "10")
        </div>
        <div class="inputBarDiv2">
            <div>
                @Html.Label("Theta1Min", "Theta1 Min")
                @Html.TextBox("txtTheta1Min", "0")
            </div>
            <div>
                @Html.Label("Theta1Max", "Theta1 Max")
                @Html.TextBox("txtTheta1Max", "1.5")
            </div>
        </div>
    </div>
        <div class="inputBarDiv">
            <div class="inputBarDiv1">
                @Html.Label("L2", "L2")
                @Html.TextBox("txtL2", "7")
            </div>
            <div class="inputBarDiv2">
                <div>
                    @Html.Label("Theta2Min", "Theta2 Min")
                    @Html.TextBox("txtTheta2Min", "0")
                </div>
                <div>
                    @Html.Label("Theta2Max", "Theta2 Max")
                    @Html.TextBox("txtTheta2Max", "3.1")
                </div>
            </div>
        </div>
    </div>
    <div>
        @Html.Label("AgleStep", "Agle Step")
        @Html.TextBox("txtAgleStep", "0.1")
    </div>


    <button id="drawPoint" title="Draw Point">Draw Test Points</button>
    <button id="Calculate" title="Draw Point">Calculate Coordinates</button>
    <button id="drawRobotArm" title="Draw Robot Arm">Draw Robot Arm</button><br/>
    <button class="js-CameraPosition" data-value="left" title="Camera Left"><i class="arrow left"></i></button>
    <button class="js-CameraPosition" data-value="right" title="Camera Right"><i class="arrow right"></i></button><br/>
    <button class="js-CameraPosition" data-value="up" title="Camera Up"><i class="arrow up"></i></button>
    <button class="js-CameraPosition" data-value="down" title="Camera Down"><i class="arrow down"></i></button><br/>
    <button class="js-CameraPosition zoom" data-value="in" title="Camera In"><span class="zoom-inner"></span></button>
    <button class="js-CameraPosition zoom1" data-value="out" title="Camera Out"><span class="zoom-inner"></span></button>
</div>

<div id="robotArmGraphic" class="robotArmGraphic"></div>


@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/three.min.js"></script>
<script src="~/Scripts/RobotArmScript.js"></script>
<script>
    var RobotArm = window.RobotArm;
    RobotArm.InitializeScene();
    $(document).ready(function() {
        $("#drawPoint").click(function() {
            RobotArm.DrawPoint(-10, 5, 0);
            RobotArm.DrawPoint(0, 5, 0);
            RobotArm.DrawPoint(-10, 0, 0);
            RobotArm.RenderScene();
        });

        $(".js-CameraPosition").click(function () {
            var value = $(this).attr("data-value");
            RobotArm.ChangeCameraPosition(value);
            RobotArm.RenderScene();
        });

        $("#Calculate").click(function () {
            RobotArm.ClearScene();
            var l1 = $("#txtL1").val();
            var l2 = $("#txtL2").val();
            var theta1Min = $("#txtTheta1Min").val();
            var theta1Max = $("#txtTheta1Max").val();
            var theta2Min = $("#txtTheta2Min").val();
            var theta2Max = $("#txtTheta2Max").val();
            var agleStep = $("#txtAgleStep").val();
            $.ajax({
                method: "POST",
                url: '@Url.Action("GetCoordinates", "RobotArm")',
                data: { l1: l1, l2: l2, theta1Min: theta1Min, theta1Max: theta1Max, theta2Min: theta2Min, theta2Max: theta2Max, agleStep: agleStep },
                dataType: "json",
                success: function (data) {
                    debugger;
                    console.log(data);
                    if (data.Success == "false") {
                        alert(data.Message);
                        return;
                    }
                    data.Positions.map(point => {
                        var x = point.X;
                        var y = point.Y;
                        var z = point.Z;
                        RobotArm.DrawPoint(x, y, z);
                    });
                    RobotArm.RenderScene();
                },
                fail: function(data) {
                    alert(data);
                }

            });
        });

        $("#drawRobotArm").click(() => {
            var endPoint = {
                x: 5.3524493404594757,
                y: 4.0198682584939531,
                z: 0
            };
            $.ajax({
                method: "POST",
                url: '@Url.Action("CalculateJointPostions", "RobotArm")',
                data: { x: endPoint.x, y: endPoint.y },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.Success == "false") {
                        alert(data.Message);
                        return;
                    }
                    const positions = data.Positions;
                    positions.map((point) => {
                        RobotArm.DrawRobotArm({x: point.X, y: point.Y, z: point.Z }, endPoint);
                    });
                    RobotArm.RenderScene();

                },
                fail: function (data) {
                    alert(data);
                }
            });

        });

    }); // End document ready
</script>
